.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background:url(../../crux_ui/src/assets/welcome_page_prod1.png) ;
  min-height:100vh;
  display: flex;
  width: 100%;
  /* height:100%; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  object-fit: fill;
  filter: brightness(1);
  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover ;
}

.App-link {
  color:white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.forgot_password{
  outline: none;
  outline-style: none;
  justify-content: end;
  color: whitesmoke;
  
}